#root,
.App {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
  font-family: sans-serif;
}

.login {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header p {
  padding-left: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.login-main {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main form {
  color: white;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-form label {
  font-size: 12px;
}

.input-form input {
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 200px;
  height: 25px;
}

.login-main form button {
  margin-top: 15px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: white;
  color: black;
  border: none;
}

.home {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home .home-header {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home .home-header input,
.home .home-header select {
  padding: 0px 10px;
  margin: 10px 10px;
  height: 30px;
}

.home-header input {
  width: 150px;
  background-color: #121212;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}

.movies {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.movies h1 {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
}

.movies .movies_list {
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
